@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
body {
  background-color: rgb(10, 20, 0);
  scroll-behavior: smooth;
  font-family: "Roboto Mono", monospace;
}
body .font-title {
  font-size: 3.5rem;
}
body .interlinea {
  line-height: 2rem;
}
body .border-navbar {
  box-shadow: 0 1px 20px 2px lime;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(10, 20, 0);
  transition: all 1.5s;
}
body .transition {
  transition: all 0.5s;
}
body .border-on-scroll {
  box-shadow: 0 1px 50px 2px lime;
}
body .nav-not-select {
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  margin-right: 0.8rem;
  cursor: pointer;
}
body .nav-select {
  color: white;
  margin: 0;
  margin-right: 0.8rem;
  cursor: default;
}
body h1 {
  font-size: 5rem;
  font-weight: bold;
  animation: show-animation 5s ease alternate;
}
body .text-shadow {
  text-shadow: 2px 2px 3px black;
}
body .first-paragraph {
  animation: show-animation 5s ease alternate;
}
body .b-bot {
  border-bottom: 3px solid white;
}
@media (prefers-reduced-motion: no-preference) {
  body .first-page-anim {
    animation: fade-off linear forwards;
    animation-timeline: view();
    animation-range: exit;
  }
  body .competence-text {
    scale: 0.8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 300px 600px;
  }
}
body .scroller {
  max-width: 1000px;
}
body .scroller .scroller-inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
body .scroller img {
  width: 100px;
  height: 100px;
}
body .scroller p {
  font-size: 0.8rem;
}
body .scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
body .scroller[data-animated="true"] .scroller-inner {
  width: fit-content;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
}
body .scroller[data-animated="true"] img {
  width: 15rem;
  height: 15rem;
}
body .scroller[data-animated="true"] p {
  font-size: 2rem;
}
body .card-overlay {
  position: relative;
  height: 500px;
  z-index: 3;
  background-color: transparent;
}
body .card-overlay .overlay-on-img {
  font-size: 0.85rem;
  bottom: 0;
  opacity: 0;
  z-index: 1;
}
body .card-overlay .img-background-prop {
  background-image: url("../assets/propManageHub.png");
}
body .card-overlay .img-background-epic {
  background-image: url("../assets/epic-energy-add-user.png");
}
body .card-overlay .img-background-linkedin {
  background-image: url("../assets/clone-linkedin-profilo.png");
}
body .card-overlay .img-position {
  height: 100%;
  z-index: 2;
  background-size: cover;
  background-position: -150px;
}
body .card-overlay:hover .img-position {
  height: 30%;
  background-position: 0;
}
body .card-overlay:hover .overlay-on-img {
  opacity: 1;
}
@media screen and (max-width: 450px) {
  body h1 {
    font-size: 2.8rem;
  }
  body .font-title {
    font-size: 2rem;
  }
  body .interlinea {
    line-height: 1.5rem;
  }
  body p {
    font-size: 0.8rem;
  }
}
@media (min-width: 450px) and (max-width: 768px) {
  body h1 {
    font-size: 3.8rem;
  }
  body .font-title {
    font-size: 2.9rem;
  }
  body .interlinea {
    line-height: 1.8rem;
  }
  body p {
    font-size: 1rem;
  }
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes fade-off {
  to {
    scale: 0;
    opacity: 0;
  }
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
@keyframes show-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} /*# sourceMappingURL=style.css.map */
