@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

.light-mode {
  background-color: rgb(255, 216, 162);
  .border-navbar {
    box-shadow: 0 1px 20px 2px rgb(255, 149, 0);
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgb(255, 216, 162);
    transition: box-shadow 1.5s ease, background-color 0.5s ease;
  }
  .border-on-scroll {
    box-shadow: 0 1px 50px 2px rgb(255, 149, 0);
  }
  .nav-not-select {
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-right: 0.8rem;
    cursor: pointer;
  }
  .nav-select {
    color: black;
    margin: 0;
    margin-right: 0.8rem;
    cursor: default;
  }
  .subtitle-color {
    color: rgba(0, 0, 0, 0.6);
  }
  .text-shadow {
    text-shadow: 2px 2px 3px rgb(255, 192, 97);
  }
  .image-portrait {
    box-shadow: 0px 0px 0px 0px white;
    background-color: rgb(255, 193, 107);
  }
  .cv-button {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    color: black;
    box-shadow: 0px 0px 10px 2px rgb(255, 149, 0);
  }
  .cv-button:hover {
    animation: cv-button-anim 0.5s linear infinite alternate;
  }
  .form-button {
    padding: 1rem 1.5rem;
    border-radius: 15px;
    background-color: transparent;
    border: none;
    color: green;
    box-shadow: 0px 0px 10px 2px green;
  }
  .button-disabled {
    padding: 1rem 1.5rem;
    border-radius: 15px;
    background-color: transparent;
    border: none;
    color: red;
    box-shadow: 0px 0px 10px 2px red;
    cursor: not-allowed;
  }
}

body {
  transition: all 0.5s ease;
  background-color: rgb(10, 20, 0);
  scroll-behavior: smooth;
  font-family: "Roboto Mono", monospace;
  .hidden {
    opacity: 0;
  }
  .language-button {
    display: flex;
    border-radius: 50px;
    padding: 0.5rem 1.1rem;
    position: fixed;
    z-index: 2;
    top: 150px;
    right: 10px;
  }
  .toggle-button {
    display: flex;
    border-radius: 50px;
    padding: 0.5rem 1.1rem;
    position: fixed;
    z-index: 2;
    top: 100px;
    right: 10px;
  }
  .toggle-light {
    background-color: #845e00;
    border: none;
  }
  .toggle-dark {
    background-color: #003a53;
    border: none;
  }
  .bg-toggle-dark {
    background-color: #21aae6;
    width: 25px;
    height: 25px;

    border-radius: 100%;
  }
  .bg-toggle-light {
    background-color: #edb93a;
    width: 25px;
    height: 25px;

    border-radius: 100%;
  }
  .image-portrait {
    box-shadow: 1px 1px 20px 1px lime;
    background-color: rgb(30, 40, 0);
  }
  .subtitle-color {
    color: rgba(255, 255, 255, 0.6);
  }
  .font-title {
    font-size: 3.5rem;
  }
  .interlinea {
    line-height: 2rem;
  }
  .border-navbar {
    box-shadow: 0 1px 20px 2px lime;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgb(10, 20, 0);
    transition: box-shadow 1.5s ease, background-color 0.5s ease;
  }
  .transition {
    transition: all 0.5s;
  }
  .border-on-scroll {
    box-shadow: 0 1px 50px 2px lime;
  }
  .nav-not-select {
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    margin-right: 0.8rem;
    cursor: pointer;
  }
  .nav-select {
    color: white;
    margin: 0;
    margin-right: 0.8rem;
    cursor: default;
  }
  h1 {
    font-size: 4.5rem;
    font-weight: bold;
    animation: show-animation 5s ease alternate;
  }
  .text-shadow {
    text-shadow: 2px 2px 3px black;
  }
  .first-paragraph {
    animation: show-animation 5s ease alternate;
  }
  .b-bot {
    border-bottom: 3px solid white;
  }
  @media (prefers-reduced-motion: no-preference) {
    .first-page-anim {
      scale: 0.85;
      animation: fade-off linear forwards;
      animation-timeline: view();
      // animation-range-start: 700px;
      // animation-range-end: 1500px;
      animation-range: exit;
    }
    .competence-text {
      scale: 0.8;
      opacity: 0;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range: 300px 600px;
    }
  }

  .scroller {
    max-width: 1000px;

    // overflow: hidden;
    .scroller-inner {
      padding-block: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
    img {
      width: 100px;
      height: 100px;
    }
    p {
      font-size: 0.8rem;
    }
  }
  .scroller[data-animated="true"] {
    overflow: hidden;

    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    .scroller-inner {
      width: fit-content;
      flex-wrap: nowrap;
      animation: scroll 20s linear infinite;
    }
    img {
      width: 15rem;
      height: 15rem;
    }
    p {
      font-size: 2rem;
    }
  }
  .cv-button {
    padding: 1rem 1.5rem;
    border-radius: 15px;
    background-color: transparent;
    color: lime;
    box-shadow: 0px 0px 10px 2px lime;
  }
  .cv-button:hover {
    animation: cv-button-anim 0.5s linear infinite alternate;
  }
  .form-button {
    padding: 1rem 1.5rem;
    border-radius: 15px;
    background-color: transparent;
    color: lime;
    box-shadow: 0px 0px 10px 2px lime;
  }
  .form-button:hover {
    transform: scale(1.1);
  }
  .transition-color {
    transition: color 1.5s ease, box-shadow 1.5s ease, transform 0.3s ease, opacity 0.5s ease;
  }
  .button-disabled {
    padding: 1rem 1.5rem;
    border-radius: 15px;
    background-color: transparent;
    color: red;
    box-shadow: 0px 0px 10px 2px red;
    cursor: not-allowed;
  }

  .card-overlay {
    position: relative;
    height: 500px;
    z-index: 3;
    background-color: transparent;
    .overlay-on-img {
      font-size: 0.85rem;
      bottom: 0;
      opacity: 0;
      z-index: 1;
    }
    .img-background-prop {
      background-image: url("../assets/prop-form-cliente.png");
    }
    .img-background-epic {
      background-image: url("../assets/epic-energy-add-user.png");
    }
    .img-background-linkedin {
      background-image: url("../assets/clone-linkedin-profilo.png");
    }
    .img-position {
      height: 100%;
      z-index: 2;

      background-size: cover;
      background-position: -150px;
    }
  }
  .card-overlay:hover {
    .img-position {
      height: 30%;
      background-position: 0;
    }
    .overlay-on-img {
      opacity: 1;
    }
  }

  @media screen and (max-width: 450px) {
    h1 {
      font-size: 2.8rem;
    }
    .font-title {
      font-size: 2rem;
    }
    .interlinea {
      line-height: 1.5rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
  @media (min-width: 450px) and (max-width: 768px) {
    h1 {
      font-size: 3.8rem;
    }
    .font-title {
      font-size: 2.9rem;
    }
    .interlinea {
      line-height: 1.8rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
@keyframes cv-button-anim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes fade-off {
  to {
    scale: 0;
    opacity: 0;
  }
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
@keyframes show-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
